//Colors
$background: #1a1115;
$color: #bfbfbf;
$color2: #757575;
$shadow: 1px 2px 5px #000;
$color3: #000;
$color4: rgba(0,0,0,0.8);

//Fonts
$fontFamily1: 'Oswald',sans-serif;
$fontFamily2: 'Noto Sans',sans-serif;


