@import 'variables';
@import 'resets';


//Header-section

.black{
    background:$background;
    box-shadow: $shadow;
}

header {
    z-index: 9999;
    width: 100%;
    height: auto;
   .menu-logo {
       position: fixed;
       float: left;
       margin: 0 2rem;
       h1 {
           padding-top: 0.5rem;
           letter-spacing: 0.5rem;
       }
   }
   nav {
       position: fixed;
       width: 100%;
       .menu-icon {
        width: 100%;
        text-align: right;
        color: $color;
        cursor: pointer;
        padding: 1rem 1.2rem;
        display: none;
    }
       ul {
           list-style: none;
           overflow: hidden;
            text-align: right;;
           transition: 1s;
           li {
               display: inline-block;
               padding: 1.2rem;
               a {
                color: $color;
                font-family: $fontFamily1;
                &:hover {
                    color: $color2;
                    transition: 1s all;
                }
               }
           }
       }
   }
}




//contact

.cont-sect {
    font-family: $fontFamily2;
    padding: 2.5rem;
    h2 {
        text-align: center;  
    }
    .text {
        display: flex;
        justify-content: center;
        width: 100%;
        padding-top: 1rem;
        .text-text {
            width: 40%;
            text-align: center;
        }
    }
   
    .cont-form {
        max-width: 37rem;
        margin: auto;
        padding: 0 0.6rem;
        overflow: hidden;
        
        .cont-txt {
            display: block;
            width: 100%;
            margin: 1rem 0;
            border: none;
            padding: 1rem 2.4rem;
            background: $color3;
            color: $color;
            &:hover {
                background: $color4;
            }
        }
        textarea.cont-txt {
            resize: none;
            height: 8rem;
        }
        .cont-btn {
            float: right;
            border: none;
            color: $color;
            background: $color3;
            padding: 0.5rem 1rem;
            border-radius: 1.5rem;
            margin-right: 1rem;
            &:hover {
                background: $color4;
            }
        }

    }
}


//Login
.log-sect {
    display: flex;
    justify-content: center;
    .log-reg {
        display: flex;
        max-width: 37rem;
        width: 100%;
        .right {
            .form-check {
                
                width: 80%;
            }
            width: 100%;
            height: 100%;
            padding: 2rem;
            .tabs {
                ul {
                    text-align: center;
                    li {
                        display: inline-block;
                        margin: 0.4rem;
                        padding: 0.3rem 0.6rem;
                        cursor: pointer;
                        font-family: $fontFamily1;
                        &.active {
                            border-bottom: 1px solid black;
                        }
                    }
                }
            }
            .register, .login {
                margin-top: 1.2rem;     
            }
            .inputs {
                margin-bottom: 1.2rem;
                .input {
                    width: 100%;
                    border: none;
                    padding: 1rem 2.4rem;
                    background: $color3;
                    color: $color;
                    font-family: $fontFamily2;
                    &:hover {
                        background: $color4;
                    }
                }
            }
            .btn {
                float: right;
                button {
                    background-color: $color3;
                    border: none;
                    color: $color;
                    padding: 0.5rem 1rem;
                    border-radius: 1.5rem;
                    font-family: $fontFamily2;
                    &:hover {
                        background: $color4;
                    }
                }
            }
            
        }


    }
}
//carousel

.carousel {
    .content {
        position: absolute;
        bottom: 30%;
        overflow: hidden;
        width: 60%;
        padding-left: 4rem;
        font-family: $fontFamily2;
        
    }
}

//Calculator
.cal-but {
    width: 0.1rem;
    height: 6rem;
    background: $color;
    position: fixed;
    left:0;  
    z-index: 1555555;  
    bottom: 40%;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    cursor: pointer;
    &:hover {
        width: 10px;
        height: 100px;
        transition: 0.5s all;
    }
}

.calculator {
   width:15rem;
   height: 25rem;
   background: $background;
   position: fixed;
   left: 0;
   bottom: 25%;
   display: none;
   box-shadow: $shadow;
   .cal-form{
       width: 100%;
        .cal-display {
            width: 100%;
            height:3rem;
            border:0;
            background: $color;
            color: $color4;
        }
        .cal-lines {
            padding-top: 1.5rem;
            .cal-line {
                width: 100%;
                text-align: center;
                padding-top: 0.7rem;
                padding-bottom: 0.7rem;
                input {
                    width: 2.5rem;
                    border: none;
                    background: $color;
                    color: $color4;
                    
                }
            }
        }
    }
}

//Search-field

.sect-search {
    margin-top: 7rem;
    padding: 2.5rem;
    .search-form {
        max-width: 37rem;
        margin: auto;
        overflow: hidden;
        .search-input {
            display: block;
            width: 100%;
            margin: 1rem 0;
            border: none;
            padding: 1rem 2.4rem;
            background: $color3;
            color: $color;
            &:hover {
                background: $color4;
            }
        }
        .search-button {
                float: right;
                button {
                border: none;
                color: $color;
                background: $color3;
                padding: 0.5rem 1rem;
                border-radius: 1.5rem;
                margin-right: 1rem;
                &:hover {
                    background: $color4;
                }
            }
        }
    }
}

//Article-section
.sect-art {
        .container {
            
            .article-content {
                padding-top: 2rem;
            }
        }
        .example{
            .postup {
                display: flex;
                .exa-btn {
                border: none;
                color: $color;
                background: $color3;
                padding: 0.5rem 1rem;
                border-radius: 1.5rem;
                margin-right: 1rem;
                cursor: pointer;
                &:hover {
                    background: $color4;
                }
            }
        }
            .example-postup {
                padding-top: 2rem;
                display: none;
            }
        }
        .sect-menu {
            padding-top: 2rem;
            a {
                color: $color;
                font-family: $fontFamily2;
                &:hover {
                    color: $color2;
                    transition: 1s all;
                }
            }
        }
        .sect-a {
            padding-top: rem;
            float: right;
            a {
                border: none;
                padding: 0.5rem 1rem;
                border-radius: 1.5rem;
                margin-right: 1rem;
                color: $color;
                background: $color3;
                &:hover {
                    background: $color4;
                }
            }
        }
        .sect-test {
            padding-top: 7rem;
            a {
                color: $color;
                font-family: $fontFamily2;
                &:hover {
                    color: $color2;
                    transition: 1s all;
                }
            }
            .sect-a {
                padding-top: 2rem;
            }
            .form-ans {
                    padding-top: 4rem;
                .btn-ans {
                    border: none;
                    padding: 0.5rem 1rem;
                    border-radius: 1.5rem;
                    margin-right: 1rem;
                    color: $color;
                    background: $color3;
                    &:hover {
                        background: $color4;
                    }
                }
                .inp-ans {
                    display: block;
                    width: 50%;
                    margin: 1rem 0;
                    border: none;
                    padding: 1rem 2.4rem;
                    background: $color3;
                    color: $color;
                    &:hover {
                        background: $color4;
            }
                }
            }
        }
        .result-check {
            padding: 1rem;
        }
}



//Footer-section

footer {
        padding-top: 2rem;
        margin-top: auto;
        .footer-line {
            display: flex;
            justify-content: center;
            .line {
                content: "";
                width: 80%;
                background: $color;
                height: 0.1rem;
            }

        }
    
        .footer-content {
            max-width: 90%;
            margin: auto;
            padding: 0 1.2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap-reverse;
            .social-icons {
                margin: 1.2rem 0;
                a {
                    color: $color;
                    margin: 0 0.6rem;
                    font-size: 1.2rem;
                    transition: .3s linear;
                    &:hover {
                        color: $color2;
                    }
                }
            }
            .right-col {
                padding-top: 1rem;
                align-items: center;
                
                .footer-nav {
                    ul {
                        display: flex;
                        list-style: none;
                        width: 100%;
                        align-items: center;
                        justify-content: space-between;
                        li {
                            padding: 0 0.5rem;
                            a{
                                color: $color;
                                font-family: 'Oswald',sans-serif;
                                &:hover {
                                    color: $color2;
                                    transition: 1s all;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .inf-exp {
        background: $color4;
        border: $color3;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }










@media (max-width: 960px){
    .footer-content {
        max-width: 35rem;
        .right-col{
            width: 100%;
            margin-bottom: 4rem;
        }
        .left-col {
            width: 100%;
            text-align: center;
        }
    }
}

@media (max-width: 700px){
    body {
        max-width: 700px;
    }
        main {
            padding-top: 4rem;
            .carousel {
                
                .content {
                    font-size: smaller;
                    padding-left: 4rem;
                    width: 80%;
                }
            }
        }
        header {
            
            .showing {
                max-height: 20rem;
            }
            nav {
                box-shadow: $shadow;
                background: $background;
                ul {
                    max-height: 0;
                    li {
                        width: 100%;
                        padding: 1.3rem 0;
                        text-align: center;
                        cursor: pointer;
                        display: block;
                        a{
                            margin: -1rem 0;
                            padding: 1rem 0;
                            display: block;
                            width: 100%;
                            &:hover {
                                background: rgba(0,0,0,0.8);
                                transition: 1s all;
                            }
                            
                        }
                    }
                }
                .menu-logo {
                    position: fixed;
                    top: 0;
                }
                .menu-icon {
                    display: block;
                    
                }
            }
        }
        
        .cont-sect {
            .text {
                .text-text {
                    width: 60%;
                }
            }
        }
}

@media (max-width: 500px) {
    .carousel {
        .content {
            display: none;
        }
    }
    .cont-sect {
        .cont-form {
            .form-check {
                text-align: center;
                padding-top: 1rem;
                width: 100%;
            }
            .cont-btn {
                width: 100%;
                float: none;
                
            }
        }
    }
    .log-sect {
        .log-reg {
            .right {
                .form-check {
                    text-align: center;
                    padding-top: 1rem;
                    width: 100%;
                }
                .btn {
                    width: 100%;
                    button {
                        width: 100%;
                    }
                }
            }
        }

    }
    .calculator {
        display: none;
        z-index: 1818818;
    }
    .cal-but {
        width: 16px;
    }
    .sect-search {
        .search-form {
            .search-button {
                width: 100%;
                button {
                    width: 100%;
                }
            }
        }
    }
    .sect-art {
        .container {
            text-align: center;
        }
        .sect-a {
            float: none;
            padding-top: 2rem;
        }
        .sect-test { 
            .form-ans {
                .inp-ans{
                    width: 100%;
                }
            }
        }

    }
    .example {
        .postup {
            .exa-btn {
                width: 100%;
            }
        }
    }
   
}
















